useDynLib(facets)
import(stats,graphics)
importFrom("utils", "read.csv")
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("pctGCdata", "getGCpct")
export("preProcSample_DC", "procSample", "emcncf", "emcncf2", "plotSample", "logRlogORspider", "run_facets_cleaned")




